<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Design by foolishdeveloper.com -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <!--Stylesheet-->
</head>

<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form [formGroup]="loginForm">
    <h3>Giriş Yap</h3>

    <label for="username">Email <span style="padding-left:5px;padding-top: 5px;color:red;font-size:23px;"
        *ngIf="f['email'].errors && f['email'].errors['required']">*</span></label>
    <input type="text" placeholder="example@gmail.com" id="email" formControlName="email">
    <label for="password">Parola <span style="padding-left:5px;padding-top: 5px;color:red;font-size:23px;"
        *ngIf="f['password'].errors && f['password'].errors['required']">*</span></label>
    <input type="password" placeholder="Parola" id="password" formControlName="password">
    <mat-error>
      <p style="padding-left:5px;padding-top: 5px;color:red;font-size:13px;"
        *ngIf="f['password'].errors && f['password'].errors['minlength']">Minimum 3 karakter olmalıdır.</p>
    </mat-error>
    <button style="color:black;" [disabled]="loginForm.invalid" (click)="login()">Giriş</button>

    <div class="social">
      <a href="auths/register" style="text-decoration: none;">
        <div class="go">Google</div>
      </a>
      <a href="auths/register" style="text-decoration: none;">
        <div class="fb"> Kayıt ol</div>
      </a>
    </div>
  </form>
</body>

</html>