.cdk-overlay-container {
    z-index: 9999 !important;
}
mat-dialog-container {
    background-color: transparent !important;
    padding: 0px 0px 0px 0px !important;
    overflow: hidden !important;
  }